@import "../global/global.scss";

.headermain {
    width: $iphone13mini;
    height: 8vh;
    font-family: 'Noto Sans KR', sans-serif;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: $흰색;
}

.headerleftsection {
    width: 50vw;
    position: relative;
    height: 8vh;
    display: flex;
    /* 내부 요소를 가로 배치 */
    align-items: center;
    /* 세로 중앙 정렬 */
}

.headerlogopng {
    // border: 1px solid black;
    width: 15vw !important;
}

.headerlogotext {
    // border: 1px solid green;
    font-weight: 800;
    width: 20vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.headerrightsection {
    margin-left: auto;
    width: 20vw;
    height: 5vh;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    cursor: pointer;
    z-index: 5;
}

.hamburger {
    height: 40px;
    margin: 10px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
  }
  
  .hamburger {
    height: 25px;
    margin: 10px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
  
    div {
      background-color: $어두운회색;
      position: relative;
      width: 20px;
      height: 2px;
      margin-top: 7px;
      transition: all 0.3s ease-in-out;
      border-radius: 35px;
    }
  }
  
  #toggle {
    display: none;
  }
  
  #toggle:checked + .hamburger .top {
    transform: rotate(45deg);
    margin-top: 5px;
  }

  #toggle:checked + .hamburger .middle {
    transform: rotate(-45deg);
    margin-top: -4px;
  }
