@import "../global/global.scss";

.GuseulDetailPage {
    width: $iphone13mini;
    height: 815px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;

    .GuseulDetailBackImage {
        width: 100%;
        height: 815px;
        object-fit: cover;
    }

    .GuseulDetailPopUp {
        position: absolute;
        border-radius: 30px 30px 0 0;
        background-color: rgba(38, 38, 38, 0.9);
        top: 362px;
        width: 375px;
        height: 450px;
        display: flex;
    }

    .StarRank {
        position: absolute;
        margin-top: 18px;
        margin-left: 288px;
    }

    .StarRank > p {
        color: #F2F2F2;
        font-family: Noto Sans KR;
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        position: fixed;
        top: 410px;
        left: 312px;
        
    }

    .GuseulName {
        position: fixed;
        color: #F2F2F2;
        font-family: Noto Sans KR;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        left: 20px;
        top: 400px;
    }

    .GuseulDetailLocal{
        position: fixed;
        width: 72px;
        height: 30px;
        flex-shrink: 0;
        background-color: blue;
        border-radius: 30px;
        left: 20px;
        top: 470px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #F2F2F2;
        font-weight: bold;
    }

    .GuseulDetailSkill{
        position: fixed;
        width: 72px;
        height: 30px;
        flex-shrink: 0;
        background-color: green;
        border-radius: 30px;
        left: 108px;
        top: 470px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #F2F2F2;
        font-weight: bold;
    }

    .GuseulDetailState{
        position: fixed;
        width: 72px;
        height: 30px;
        flex-shrink: 0;
        background-color: darkorange;
        border-radius: 30px;
        left: 196px;
        top: 470px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #F2F2F2;
        font-weight: bold;
    }

    .GuseulDetailInfo{
        position: fixed;
        top: 520px;
        left: 20px;
        display: flex;
        color: #F2F2F2;
        font-family: Noto Sans KR;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .GuseulDetailInfo p{
        margin-right: 11px;
        align-items: center;
        justify-content: center;
    }

    .GuseulDetailAbility{
        color: #F2F2F2;
        font-family: Noto Sans KR;
        font-style: normal;
        line-height: normal;
    
    }
    .GuseulDetailAbility h3{
        position: fixed;
        top: 570px;
        left: 20px;
    }
    .GuseulDetailAbility p{
        position: fixed;
        font-size: 12px;
        font-weight: 400;
        top: 610px;
        left: 20px;
    }
    .GuseulDetailAbility h4{
        position: fixed;
        font-size: 15px;
        width: 100vw;
        top: 670px;
        left: 41px;
    }

    .GuseulDetailBtn{
        position: fixed;
        display: flex;
        top: 735px;
        left: 20px;
        width: 270px;
        height: 55px;
        border-radius: 20px;
        background-color: rgba(140, 35, 35, 1);
        align-items: center;
        justify-content: center;
        color: #FFF;
        font-family: Noto Sans KR;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 22px; /* 110% */
        letter-spacing: -0.408px;
        text-decoration-line: underline;
        opacity: 1;
    }

    .GuseulDetailLike{
        position: fixed;
        display: flex;
        top: 735px;
        left: 304px;
        width: 55px;
        height: 55px;
        border-radius: 20px;
        background-color: #8C2323;
        align-items: center;
        justify-content: center;
        opacity: 1;
    }
}
