@import "../global/global.scss";

.ChatRoom {
    height: 700px;
    width: $iphone13mini;
    background-color: #AFC0CF;
    overflow-y: auto;
    display: flex;
    flex-direction: column;

    .ChatRoom>.chats {
        height: auto;
        width: $iphone13mini;
        white-space: normal;
        display: flex;
        align-items: flex-start;
        flex-grow: 1; 
        overflow-y: auto;
        flex-direction: column;
    }
}

.ChatRoom>.chats .Chattest {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1px;
    margin-bottom: 14px;
}

.GoodSeulInfo {
    float: left;
    width: 100%;
    height: auto;
}


/* 로그인한 유저의 채팅 관련 css (나) */
.Chattest > .chatMyInfo {
    width: 100%;
    margin-top: 10px;
    margin-right: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.ChatMyText {
    height: 35px auto;
    margin-right: 10px;
    background-color: #FAE64C;
    white-space: normal;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 13px;
    font-size: 15px;
    font-weight: 400;
    float: right;
    padding-left: 10px auto;
    margin-left: 20px;
    margin-right: 18px;


    .ChatMyTextSpan{
        margin-left: 12px;
        margin-right: 10px;
        margin-top: 9px;
        margin-bottom: 8px;
    }
}

/* 로그인한 유저의 채팅 관련 css (나) 끝 ㅡㅡㅡㅡㅡㅡ */

/* 채팅중인 상대방 채팅 관련 css (상대방) */
.ChatOtherTextGroup{
    display: flex;
    align-items: center;
    flex-direction: row;
    height: auto;
    // border: 1px solid cornflowerblue;
}

.ChatOtherSenderGroup{
    width: auto;
    margin-left: 15px;
    // border: 1px solid blueviolet;
}

.GoodSeulSender{
    width: auto;
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
    
}

.GoodSeulText{
    background-color: #FFFFFF;
    width: auto;
    height: auto;
    border-radius: 13px;
    font-size: 15px;
    margin-left: 10px;
    margin-right: 18px;
    float: left;
    display: flex;
    align-items: center;

    .GoodSeulTextSpan{
        margin-left: 12px;
        margin-right: 10px;
        margin-top: 9px;
        margin-bottom: 8px;
    }
}

.ChatProfilePng{
    margin-left: 10px;
    // border: 1px solid red;
}

/* ReadCheck 관련 css */
// .ChatMyReadCheck{
//     border: 1px solid black;
// }

.ChatMyTextReadCheck{
    display: flex;
    align-items: center;
}

.ChatMyTextGroup{
    height: auto;
    display: flex;
    flex-direction: row;
}

.ChatMyTextGroup{
    display: flex;
    align-items: center;
    flex-direction: row;
    height: auto;
    float: right;
    // border: 1px solid cornflowerblue;
}

.ChatMyReadCheck{
    width: auto;
}

.ChatMyReadCheckText{
    margin-left: 20px;
    font-size: 11px;
}

/* 채팅중인 상대방 채팅 관련 css (상대방) 끝 ㅡㅡㅡㅡㅡㅡ */

/* 날짜 관련 임시로 잡아놓은 css */
.ChatDateGroup{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Chatdate{
    width: 132px;
    height: 25px;
    border-radius: 34px;
    background-color: rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F8F8F9;
    font-size: 11.5px;
    font-weight: 400;
    margin-top: 10px;
}

/* 날짜 관련 임시로 잡아놓은 css 끝 ㅡㅡㅡㅡㅡㅡ */

/* input & button 관련 하단요소들 css */
.toolbox {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chatinput {
    border: none;
    background-color: #F8F8F8;
    height: 30px;
    border-radius: 15px;
    border: 1px solid #DEDEDE;
    outline: none;
    width: 340px;
}

.ChatEmoji{
    position: absolute;
    margin-left: 230px;
}

.chatBtn {
    background-color: $버건디;
    border: none;
    border-radius: 15px;
    height: 30px;
    color: white;
    position: absolute;
    right: 4%;
}