@import "../global/global.scss";

.MypageRecentlyGoodSeul {
    width: 150px;
    height: 119px;
    margin-top: 30px;
    margin-left: 30px;
    font-weight: 700;
    font-size: 18px;
}
.MypageRecentHeader {
    display: flex;
    margin-left: 10px;
    
    .MypageRecentInfo {
        height: 100%;
        width: 100vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: 10px;
    }
}

.MypageRecent {
    width: 300px;
    height: 13vh;
    overflow-x: auto;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.MypageRecentList {
    width: 300px;
    height: 15vh;
    margin-top: 10px;
    overflow-x: auto;
    display: flex;
    align-items: center;

    .MypageUserRecentlyImg {
        width: 50px;
        height: 50px;
        border-radius: 50px;
        margin-right: 10px;
        
    }
}

.MypageRecentUserInfo>span {
    font-weight: 400;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.MypageRecentGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30vw;
    height: 11vh;
    display: flex;
}

.MypageRecentItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-right: 20px;
}
.MypageRecentPhoto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .MypageUserRecentlyImg {
        width: 50px;
        height: 50px;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #ccc;
    }
}

.MypageRecentUserNick {
    width: 55px;
    font-weight: 700;
    font-size: 10px;
    margin-top: 7px;
}

.MypageRecent::-webkit-scrollbar {
    display: none;
}