@import "../global/global.scss";

.LocationBasedPages{
  width: $iphone13mini;
  height: 90vh;
  overflow: hidden;
}

.mySwiper {
  width: 300px;
  height: 100px;
  margin-top: 50px;
  
}

.GoodSeulList {
  display: flex;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  // align-items: center;
  // justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  height: 430px;
  width: 250px;
  
    .GoodSeulLocationImg,
    .default-img {
      box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25);
      width: 300px;
      height: 300px;
    }
}

.GoodSeulList > .LocationGoodSeultList >.GoodSeulLocationHeader{
  margin-top: 10px;
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: space-around;

  p,span{
    font-weight: 800;
  }


  span {
    color: $버건디;
  }

  .GoodSeulLocationReviewCount{
    color: black;
    font-size: 18px;
  }

}

.GoodSeulList > .LocationGoodSeultList > .GoodSeulLocationCenterContent{

  width: 100%;
  justify-content: flex-start;
  margin-left: 10px;
  display: flex;
  align-items: center;

  span {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    background-color:  black;
    width: 12vw;
    height: 3vh;
    margin-left: 13px;
    border-radius: 15px;
  }

  .no-skill{
   display: none;
  }
}

.GoodSeulLocationFooter{
  font-size: 14px;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 15px;
}


.GoodSeulList {
  background-color: #ccc;
}



