@import "../global/global.scss";

.RequestUser2 {
    width: $iphone13mini;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .RequestUser2Group {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .RequestInfoGroup {
        width: 100%;
        height: 100px;
        display: flex;
        margin-top: 50px;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        gap: 10px;

        span {
            height: 14px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 700;
            font-size: 22px;
        }

        p {
            margin-top: 50px;
            color: $버건디;
            font-weight: 800;
        }
    }

    .info1Text>span {
        font-weight: 800;
        font-size: 24px;
    }

    
    
}

