@import "../global/global.scss";

.RequsetMain {
    width: $iphone13mini;
    height: 100vh;
    font-family: inter;
    background-color: #F8F8F8;
    
    .RequestFirstText {
        position: absolute;
        top: 13%;
        left: 5%;
        font-size: 22px;
        font-weight: 800;

        span {
            font-size: 34px;
        }
    }

    .RequestSecondTextSection {
        position: absolute;
        top: 21%;
        left: 8%;
    }

    .RequestFirstText::first-letter {
        font-size: 34px;
    }

    .RequestSecondText:nth-child(1) {
        color: $밝은회색;
    }

    .RequestSecondText:nth-child(2) {
        background-color: $버건디;
        display: inline-block;
        color: $흰색;
    }

    .RequestSecondText {
        font-weight: 700;
    }

    .RequestMenu {
        height: 10vh;
        top: 24%;
        width: 275px;
        height: 67vh;
        margin: 0 auto;
        position: relative;
        background-color: white;
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border: 1px solid #E3E3E3;

        .RequestSelect {
            position: relative;
            width: 67vw;
            background-color: white;
            border-bottom: 1px solid rgb(233, 237, 244);
            height: 5vh;
            margin: 0 auto 20px;
            color: #8b8787;
            font-weight: 800;
            font-size: 16px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 14px;

            .ArrowIcon {
                display: flex;
                align-items: center;
            }

            .ArrowIcon img {
                margin-right: 20px;
            }

            p {
                margin-left: 15px;
                display: flex;
                align-items: center;
            }
        }

        .RequestWriteForm {
            background-color: #ffffff;
            width: 65vw;
            height: 30vh;
            margin: 0 auto;
            border-radius: 15px;
            position: relative;
            color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .RequestWriteInside {
                width: 60vw;
                height: 27vh;
                border-radius: 15px;
                margin: 0 auto;
                border: none;
                outline: none;
                color: black;
                resize: none;
                line-height: 20px;
            }

            .RequestWriteInside::placeholder {
                color: #A9A9A9;
                padding-left: 5px;
                font-size: 13px;
            }
        }

        .RequestButtonGroup {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            top: 3%;

            button {
                display: flex;
                align-items: center;
                justify-content: center;
                border: none;
                width: 65vw;
                border-radius: 15px;
                background-color: $검은색;
                color: white;
                height: 5vh;
                font-weight: 800;
                box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
            }

            .lightbutton {
                width: 5vw;
                margin-right: 5px;
            }
        }
    }
}

.showRegion,
.showCategory {
    bottom: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100vw;
    height: 50vh;
    background-color: white;
    animation: bottom-sheet-up 0.7s ease-in-out;
    // animation: fadeIn 0.4s inherit;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    outline: rgb(233, 237, 244) solid 1px;
    outline-offset: -0.5px;
    box-shadow: rgba(39, 46, 64, 0.08) 0px 0.125rem 0.25rem;

    ul {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0;
        margin: 0;
        margin-top: 30px;

        li {
            list-style: none;
            text-align: center;
            width: 100%;
            flex: 1;
            margin: 10px 0;
            font-weight: 600;
            font-size: 16px;
            cursor: pointer;
            border-bottom: 1px solid rgb(233, 237, 244);
        }

        .CategoryFirst {
            border: none;
        }
    }
}

.showCategory>ul>li:first-child,
.showRegion>ul>li:first-child,
.showCategory>ul>li:last-child,
.showRegion>ul>li:last-child {
    border: none;
}

.showCategory>ul>li:first-child>.showClose>span:nth-child(1),
.showRegion>ul>li:first-child>.showClose>span:nth-child(1) {
    margin-left: 20px;
    white-space: normal;
    font-size: 16px;
    font-weight: 800;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 20px;
    background-image: url("../../image/Request/close.png");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position-x: 320px;
}

.showCategory>ul>li:first-child>.showClose>span:nth-child(2),
.showRegion>ul>li:first-child>.showClose>span:nth-child(2) {
    font-weight: 800;
    font-size: 14px;
    color: #ccc;
    float: left;
    margin-left: 20px;
    margin-top: 10px;
}

.isClickRequestRegion,
.isClickRequestDate,
.isClickRequestCategory {
    display: flex;
    align-items: center;
    width: 100%;
}

.isClickRequestRegion > span,
.isClickRequestDate > span,
.isClickRequestCategory > span {
    color: $검은색;
    font-weight: 600;
    white-space: nowrap;
    margin-left: 20px;
}

/* 달력 추가 css */
.CalendarContainer {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 80px;
    z-index: 5;
    width: 65vw;
}

.RequestSelect.active+.CalendarContainer {
    animation: fadeInDown 0.5s ease-in-out;
    // animation: bottom-sheet-up 0.7s ease-in-out;
}

.RequestSelect.active {
    border-radius: 15px;
}

/* 달력 최상단 div */
.react-calendar {
    border: none !important;
    border-radius: 15px;
    outline: rgb(233, 237, 244) solid 2px;
    outline-offset: -0.5px;
    box-shadow: rgba(39, 46, 64, 0.08) 0px 0.125rem 0.25rem;
}

/* 오늘 날짜 하이라이트 커스텀 */
.react-calendar__tile--now {
    background: $버건디 !important;
    color: $흰색;
    border-radius: 15px;
}

.react-calendar__navigation__label__labelText {
    width: 200px;
}

.react-calendar__month-view {
    padding: 10px;

    abbr {
        font-size: 14px;
    }
}

.react-calendar__tile {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/* 캘린더 년도 월 나오는 곳 */
.react-calendar__navigation {
    background-color: $버건디;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    span {
        color: $흰색;
        font-weight: 800;
        font-size: 18px;
    }
}

.react-calendar__navigation button {
    background-color: $버건디 !important;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.lcoation {
    width: 15px;
    margin-right: 10px;
    opacity: 0.2;
}

.modalRectangle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalFrame {
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0.5;
    width: $iphone13mini;
    height: 100vh;
    z-index: 2;
    position: fixed;
}

.bottom-sheet-container {
    width: 45px;
    height: 7px;
    
    background-color: #ccc;
    border-radius: 15px;
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    border: 1px solid purple;
}


// .closed{
//     animation: bottom-sheet-down 0.7s ease-in-out;
// }


@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


@keyframes bottom-sheet-up {
    0% {
        transform: translateY(420px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes bottom-sheet-down {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(420px);
    }
}