@import "../global/global.scss";

.CommunityMenu{
    position: fixed;
    width: 256px;
    height: 256px;
    top: 665px;
    left: 50%;
    transform: translate(-50%, -50%);

    p {
        color: $검은색;
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 13px;
        font-weight: 700;
        margin-left: 10px;
    }

    // 자유게시판 버튼 스타일
    .CommunityFreeBoard {
        position: absolute;
        width: 120px;
        height: 120px;
        border-radius: 15px;
        background-color: $더밝은회색;
    }

    // 의상 & 소품 스타일
    .CommunityClothes {
        position: absolute;
        width: 120px;
        height: 120px;
        border-radius: 15px;
        background-color: $더밝은회색;
        left: 137px;
    }

    // 식품 게시판 스타일
    .CommunityFood {
        position: absolute; 
        width: 120px;
        height: 120px;
        border-radius: 15px;
        background-color: $더밝은회색;
        top: 136px;
    }

    // 무용 & 악사 스타일
    .CommunityDancer {
        position: absolute; 
        width: 120px;
        height: 120px;
        border-radius: 15px;
        background-color: $더밝은회색;
        left: 137px;
        top: 136px;
    }
}