@import "../global/global.scss";

.CommunityFormPage{
    width: 375px;
    height: 815px;
    position: fixed;
    font-family: Noto Sans KR;
    font-style: normal;
    
    //게시글 작성 페이지 제목 및 위치 스타일
    h1{
        font-size: 30px;
        font-weight: 700;
        line-height: 22px;
        letter-spacing: -0.408px;
        color: $검은색;
        
        position: fixed;
        top: 94px;
        left: 50%;
        width: 100vw;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    //게시글 작성 페이지 이미지 위치 밎 스타일
    .CommunityFormImg{
        position: fixed;
        top: 200px;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 127px;
        height: 110px;
    }

    //게시글 작성 페이지 설명 글 위치 및 스타일
    .CommunityFormSubTitle{
        position: fixed;
        top: 284px;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: 10px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: -0.408px;
    }

    //게시글 작성 페이지 제목 영역 스타일 
    .FormTitle {
        span {
            position: fixed;
            top: 328px;
            left: 64px;
            color: #000;
            font-size: 15px;
            font-weight: 700;
            line-height: 22px;
            letter-spacing: -0.408px;
        }
        input {
            position: fixed;
            top: 374px;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 245px;
            height: 30px;
            border-radius: 15px;
            background: #D9D9D9;
            padding: 5px;
        }
    }
    
    //게시글 작성 페이지 내용 입력 영역 스타일
    .FormTextArea{
        span{
            position: fixed;
            top: 402px;
            left: 64px;
            color: #000;
            font-size: 15px;
            font-weight: 700;
            line-height: 22px;
            letter-spacing: -0.408px;
        }
        textarea{
            position: fixed;
            top: 527px;
            left: 50%;
            padding: 10px;
            transform: translate(-50%, -50%);
            width: 240px;
            height: 170px;
            border-radius: 15px;
            background: #D9D9D9;
        }
    }

    //게시글 작성 페이지 태그 영역 스타일
    .FormTags {
        span {
            position: fixed;
            top: 635px;
            left: 64px;
            color: #000;
            font-size: 15px;
            font-weight: 700;
            line-height: 22px;
            letter-spacing: -0.408px;
        }
    
        .FormTagBtn {
            position: absolute;
            top: 603px;
            left: 50%;
            transform: translateX(-50%);
            width: 262px;
            display: flex;
            flex-direction: column;
            align-items: center;
    
            .BoardCatagory,
            .BoardTags {
                width: 100%;
                display: flex;
                justify-content: space-between;
                max-width: 255px;
                height: 20px;
                /* 요소간 간격 조절 */
                margin-bottom: 5px;
            }
    
            button {
                font-size: 9px;
                width: 60px;
                height: 20px;
                border-radius: 50px;
                margin-right: 3px;
            }
    
            .active {
                background-color: $버건디;
                color: white;
            }
        }
    }
    
    //글쓰기, 취소 버튼 스타일 영역
    .FormBtn {
        position: absolute;
        display: flex;
        top: 670px;
        left: 50%; 
        transform: translateX(-50%);

        button {
          width: 100px; 
          height: 40px; 
          border-radius: 50px; 
          background-color: $흰색; 
          border: 1px solid #000; 
          color: #000; 
          text-align: center; 
          font-size: 13px; 
          font-weight: 900; 
        }
      
        .FormBtnWrite {
          margin-right: 10px; 
        }
      }
}