@import "../global/global.scss";

.CommunityEllipsePage{
    width: 338px;
    height: 265px;
    flex-shrink: 0;
    position: fixed;

    .CommunityEllipses{
        .Ellipse1{
            position: fixed;
            top: 325px;
            left: 20px;
        }
    
        .Ellipse2{
            position: fixed;
            top: 245px;
            left: 55px;
            border-radius: 50%;

            background-image: url('http://dopeboyzclub.ddns.net:7733/resource/community/commnunity2.jpg');
            background-size: cover; /* 이미지를 요소에 맞게 조절 */
            background-position: center; /* 이미지의 위치를 가운데로 정렬 */
        }
    
        .Ellipse3{
            position: fixed;
            top: 229px;
            left: 138px;
        }
    
        .Ellipse4{
            position: fixed;
            top: 220px;
            left: 188px;
        }
    
        .Ellipse5{
            position: fixed;
            top: 265px;
            left: 288px;
            border-radius: 50%;

            background-image: url('http://dopeboyzclub.ddns.net:7733/resource/community/commnunity3.jpg');
            background-size: cover; /* 이미지를 요소에 맞게 조절 */
            background-position: center; /* 이미지의 위치를 가운데로 정렬 */
        }
    
        .Ellipse6{
            position: fixed;
            top: 360px;
            left: 60px;
        }
    
        .Ellipse7{
            position: fixed;
            top: 310px;
            left: 138px;
            border-radius: 50%;
            z-index: 9999;

            background-image: url('http://dopeboyzclub.ddns.net:7733/resource/community/commnunity1.jpg');
            background-size: cover; /* 이미지를 요소에 맞게 조절 */
            background-position: center; /* 이미지의 위치를 가운데로 정렬 */
            
        }
    
        .Ellipse8{
            position: fixed;
            top: 325px;
            left: 243px;
        }
    
        .Ellipse9{
            position: fixed;
            top: 415px;
            left: 135px;
        }
    
        .Ellipse10{
            position: fixed;
            top: 398px;
            left: 217px;
            
        }
    
        .Ellipse11{
            position: fixed;
            top: 413px;
            left: 267px;
            border-radius: 50%;

            background-image: url('http://dopeboyzclub.ddns.net:7733/resource/community/commnunity4.jpg');
            background-size: cover; /* 이미지를 요소에 맞게 조절 */
            background-position: center; /* 이미지의 위치를 가운데로 정렬 */
        }
    
        .Ellipse12{
            position: fixed;
            top: 385px;
            left: 310px;
        }
    
        @keyframes scaleAnimation {
            0% {
              transform: scale(1);
            }
            50% {
              transform: scale(1.3); 
            }
            100% {
              transform: scale(1); 
            }
          }
          
          .Ellipse7 {
            animation: scaleAnimation 2s ease-in-out infinite;
          }    
    }

}