@import "../global/global.scss";

.ComminutyDetailPage{
    width: 375px;
    height: 815px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    // background-color: red;

    .ComminutyDetailIcon, 
    .ComminutyDetailTitle,
    .ComminutyDetailSearchBar {
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .ComminutyDetailIcon {
        top: 70px;
        width: 70px;
        height: 70px;
        border-radius: 15px;
        background-color: lightgray;
    }
    
    .ComminutyDetailTitle {
        top: 140px;
        p {
            color: #000;
            font-family: Noto Sans KR;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin: 0;
        }
    }

    .ComminutyDetailSearchBar{
        top: 190px;
    }

    .ComminutyDetailList{
        
    }
}