@import "../global/global.scss";

.CommunityPage {
  width: 375px;
  height: 815px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;

  &Title {
    position: fixed;
    top: 80px;
    left: 20px;
    p {
      color: #000;
      font-family: 'Noto Sans KR';
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
    }
    span {
      color: #000;
      font-family: 'Noto Sans KR';
      font-size: 30px;
      font-style: normal;
      font-weight: 700;
    }
  }

  &SubTitle {
    position: fixed;
    top: 148px;
    left: 34px;
    font-style: normal;
    font-family: 'Noto Sans KR';
    p {
      color: #595959;
      font-size: 15px;
      font-weight: 400;
    }
    span {
      color: #f2f2f2;
      font-size: 15px;
      font-weight: 500;
      background-color: #8c2323;
    }
  }

  &ThirdTitle {
    width: 100vw;
    position: fixed;
    top: 490px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: -0.408px;
    p {
      color: #000;
      font-family: 'Noto Sans KR';
      font-size: 15px;
      font-style: normal;
      font-weight: 700;
    }
  }
}
