@import "../global/global.scss";

// 커뮤니티 리스트 페이지 스타일
.CommunityListPage {
    width: 375px;
    height: 815px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
    line-height: normal;

    // 게시판 아이콘 사진 스타일
    .CommunityListIcon {
        position: fixed;
        top: 70px;
        left: 50%;
        transform: translateX(-50%);
        width: 70px;
        height: 70px;
        flex-shrink: 0;
    }

    // 게시판 제목 스타일
    .CommunityListTitle p {
        position: fixed;
        top: 130px;
        left: 50%;
        transform: translateX(-50%);
        width: 69px;
        height: 22px;
        color: #000;
        font-size: 15px;
        font-weight: 700;
    }

    // 리스트 페이지 검색창 위치 스타일
    .CommunityListSearchbar {
        position: fixed;
        top: 190px;
        left: 50%;
        transform: translateX(-50%);
    }

    // 리스트 페이지 게시글 작성버튼 위치 스타일
    .CommunityListSummit {
        position: fixed;
        top: 260px;
        left: 50%;
        transform: translateX(-50%);
    }

    // 리스트 페이지 게시글 작성 버튼 스타일
    .CommunityListSummit button {
        background-color: $버건디;
        width: 150px;
        height: 30px;
        border-radius: 50px;
        color: $흰색;
        font-size: 15px;
        font-weight: 400;
        border: none;
        outline: none;
        appearance: none;
    }

    // 게시글 제목 리스트 출력 위치 스타일
    .CommunityBoardList {
        position: fixed;
        top: 310px;
        left: 50%;
        transform: translateX(-50%);
        
        ul {
            margin: 0;
            padding: 0;
        }

        li {
            list-style: none;
            margin-bottom: 20px;
        }
    }

    // 리스트 페이지 버튼 위치 스타일
    .CommunityListPageBtn {
        position: fixed;
        top: 770px;
        left: 50%;
        transform: translateX(-50%);
        width: 44px;
        height: 22px;
    }

    // 리스트 페이지 정보 출력 스타일
    .CommunityListPageBtn span {
        color: $밝은회색;
        font-size: 12px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: -0.408px;
    }
}
