@import "../global/global.scss";


/* 메인의 글로벌 설정 */
.main_burgundy{
    color: $버건디;
}
.main_lightgray{
    color: $밝은회색
}
.main_bigtxt{
    font-size: 30px;
    font-weight: 700;
}
.main_midtxt{
    font-size: 25px;
    font-weight: 700;
}
.main_smalltxt{
    font-size: 20px;
    font-weight: 700;
}
.main_vsmalltxt{
    font-size: 15px;
    font-weight: 400;
}
.main_vsmallheavytxt{
    font-size: 15px;
    font-weight: 700;
}

/* 메인 css 시작*/

.main_wrap{
    width: $iphone13mini;
    overflow-x: hidden;
}
.main_slogan{
    margin: 70px 48px 84px 20px;
    font-size: 30px;
    font-weight: 700;
}
/*페이지 리모트*/
.main_remote{
    display: flex;
    justify-content: space-between;
    width: 315px;
    height: 415px;
    margin-left: 45px;
    margin-right: 16px;
    
}
.main_remote_form{
    background-color: #d9d9d9;
    border-radius: 15px;
}
.main_remote_long{
    width: 150px;
    height: 300px;
}
.main_remote_short{
    width: 150px;
    height: 100px;
}
/*실시간 세션*/
.main_onair_txt{
    margin: 100px 0 55px 20px;
}
.main_onair{
    height: 350px;
    margin: 0 0 100px 55px;
}
.main_ad{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: end;
    background-color: $흰색;
}
.main_ad button{
    width: 85px;
    height: 30px;
    border-radius: 50px;
    margin-right: 25px;
    background-color: $검은색;
    color: white;
    line-height: 20px;

}
/*후기, 위치별 섹션*/
.main_reviewwrap{
    margin-top: 140px;
}
.main_review_txt{
    text-align: end;
}
.main_review{
   margin-top: 30px;
   margin-left: 20px;
   width: 480px;
}
.main_locatewrap{
    margin-top: 115px;
}
.main_locate_txt{
    margin-left: 20px;
}
.main_locate{
    display: flex;
    justify-content: space-around;
}
.main_locate_extxt{
    display: flex;
    flex-direction: column;
    margin-top: 14px;
    margin-left: 30px;
}
.main_locate_extxt span{
    text-align: left;
}
.main_locate_extxt span:last-child{
    margin-top: 14px;
    
}
.main_locatepic{
    width: 200px;
    height: 300px;
    background-color: #d9d9d9;
    margin-right: 20px;
    border-radius: 15px;
}

/*목적별 섹션*/
.main_purposewrap{
    margin-top: 100px;
    
}
.main_purposetxt{
    text-align: center;
}
.main_purpose{
    margin-top: 70px;
    height: 330px;
}
/*견적 섹션*/
.main_estimatewrap{
    margin-top: 315px;
    
}
.main_estimate_welcome{
    margin: 0 0 315px 0;
    text-align: center;
    
}
.main_estimate_welcome span span{
    background-color: $버건디;
    color: white;
    
}
.main_estimate_detail1{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 20px;
}
.main_estimate_detail2{
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-top: 115px;
    margin-right: 20px;
}
.main_estimate_detail3{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 115px;
}
.main_estimate_box {
    margin-top: 120px;
    background-color: $버건디;
    width: 100%;
    height: 360px;
    display: flex; /* 수평 중앙 정렬을 위한 Flex Container */
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
}
.main_estimate_go{
    width: 300px;
    height: 200px;
    border-radius: 15px;
    background-color: $흰색;
    text-align: center;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.main_estimate_txt {
    display: flex;
    flex-direction: column;
    margin-top: 75px;
    
}
.main_estimate_txt span:last-child{
    margin-top: 17px;
}
.main_footer{
    height: 360px;
    background-color: $어두운회색;
}
.main_foot_txt{
    width: 300px;
    height: 220px;
    padding: 100px 50px 40px 25px;
    color: white;
}