@import "../global/global.scss";

.OnAirPage {
    width: $iphone13mini;
    height: 815px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    
    .OnAirTitle {
        position: fixed;
        padding: 0;
        margin: 0;
        width: 196px;
        height: 36px;
        top: 110px;
        left: 20px;
        color: #000;
        font-family: Noto Sans KR;
        font-size: 1.5625rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .OnAirSubTitle {
        position: fixed;
        padding: 0;
        margin: 0;
        width: 173px;
        height: 36px;
        top: 600px;
        left: 20px;
        color: #000;
        font-family: Noto Sans KR;
        font-size: 1.5625rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
}

