@import "../../style/global/global.scss";


.purpose_burgundy{
    color: $버건디;
}
.purpose_lightgray{
    color: $밝은회색
}
.purpose_bigtxt{
    font-size: 30px;
    font-weight: 700;
}
.purpose_midtxt{
    font-size: 25px;
    font-weight: 700;
}
.purpose_smalltxt{
    font-size: 20px;
    font-weight: 700;
}
.purpose_vsmalltxt{
    font-size: 15px;
    font-weight: 500;
}
.purpose_vsmallheavytxt{
    font-size: 15px;
    font-weight: 700;
}

.purpose_searchwrap{
    margin: 40px 20px 0 20px;
}
.purpose_tagwrap{
    margin: 60px 25px 0 25px;
}
.purpose_tagList{
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
}
.purpose_tag{
    height: 80px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.purpose_tag img{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 10px;
}
.purpose_listwrap{
    margin: 40px 0 0 25px;
}
.purpose_list{
    margin-top: 25px;
    width: 335px;
    height: 170px;
    background-color: rgba($color: $검은색, $alpha: 0.3);
    border-radius: 15px;
}
.purpose_pic{
    width: 335px;
    height: 170px;
    position: absolute;
    object-fit: cover;
    border-radius: 15px;
    z-index: -99;
}