@import "../../style/global/global.scss";

.rsSearch_wrap{
    margin : 50px 20px 0 20px;
}
.rs_txt{
    margin-top: 50px;
}
.rs_listwrap {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 25px;
}
  
.rs_box {
    width: 160px;
    height: 225px;
    border: 1px solid #ddd;
    margin-left: 18px;
    margin-top: 15px;
    border-radius: 15px;
  }
  .rs_pic{
    width: 160px;
    height: 100px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-color: $어두운회색;
  }
