@import "../../style/global/global.scss";
@import url('https://fonts.googleapis.com/css2?family=Song+Myung&display=swap');

/*리뷰 글로벌 설정*/
.review_burgundy{
    color: $버건디;
}
.review_lightgray{
    color: $밝은회색
}
.review_mlightgray{
    color: $더밝은회색
}
.review_dgray{
    color: $어두운회색;
}
.review_bigtxt{
    font-size: 30px;
    font-weight: 700;
}
.review_midtxt{
    font-size: 25px;
    font-weight: 700;
}
.review_smalltxt{
    font-size: 20px;
    font-weight: 700;
}
.review_smalllighttxt{
    font-size: 20px;
    font-weight: 500;
}
.review_vsmalltxt{
    font-size: 15px;
    font-weight: 500;
}
.review_vsmallheavytxt{
    font-size: 15px;
    font-weight: 700;
}
.review_vxsmalltxt{
    font-size: 12px;
    font-weight: bolder;
}
.review_vstartxt{
    font-size: 10px;
    font-weight: 500;
}
.review_stamp{
    font-size: 26px;
    font-weight: 700;
    font-family: 'Song Myung', serif;
    line-height: 25px;
    
}



/*리뷰 상단 텍스트 css 시작*/

.review_sloganwrap{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.review_slogan{
    margin-left: 20px;
}
.review_txt{
    margin: 30px 0 0 35px;
}
.review_txt span span{
    background-color: $버건디;
    color: white;
}

/*리뷰 검색바*/
.review_searchwrap{
    margin: 50px 20px 0 20px;
}

/*리뷰 베스트리뷰*/
.review_besttxt{
    margin: 55px 0 0 20px;
    
}
.review_bestList_wrap{
    margin: 15px 20px 0 20px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
}
.review_best{
    margin-top: 15px;
    width: 160px;
    height: 250px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    background-color: $버건디;
}
.review_besttop{
    height: 45%;
}
.review_bestpic{
    position: absolute;
    width: 160px;
    height: 105px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-color: $어두운회색;
}
.review_bestbot{
    margin: 0 auto;
}
.review_bestbot div{
    text-align: center;
    line-height: 25px;
}

.review_tags div{
    display: inline-block;
}
.review_goDetail{
    margin-top: 15px;
    background-color: white;
    border: none;
    width: 140px;
    height: 30px;
    border-radius: 100px;
    background-color: $버건디;
   
}



/*리뷰 프리미엄 리뷰*/
.review_premiumwrap{
    margin: 40px 20px 0 20px;
    
}
.review_premiumList_wrap{
    margin-top: 15px;
    
}
.review_premium{
    margin-top: 15px;
    width: 335px;
    height: 170px;
    background-color: rgba($color: $검은색, $alpha: 0.3);
    box-shadow: 0 1px 2px gray;
    border-radius: 15px;
    color: $흰색;
}
.review_prepic{
    position: absolute;
    width: 335px;
    height: 170px;
    object-fit: cover;
    z-index: -99;
    border-radius: 15px;

}
.review_pretop{
    height: 66%;
}
.review_prebot{
   height: 33%;
   display: flex; 
}
.review_titlewrap{
    padding-top: 5px;
    margin-left: 5px;
}
.review_markpush{
    width: 82%;
    height: 50px;
    text-align: left;
}
.review_markpush div{
   margin-top: 28px;
}
.review_mark{
    width: 15%;
    height: 50px;
    border-radius: 10px;
    text-align: center;
    background-color: rgba($color: $검은색, $alpha: 0.05);
    overflow: hidden;
    
    
}
.review_mark span{
    position: relative;
    top: 2px;
    text-shadow: -0.7px 0px $더밝은회색, 0px 0.7px $더밝은회색, 0.7px 0px $더밝은회색, 0px -0.7px $더밝은회색;
    
}
/* modal */
